# T_VENTAS

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_raw.T_VENTAS(
  CODIGO_CLIENTE string,
  FECHA_VENTA string,
  CODIGO_VENDEDOR string,
  CODIGO_SUPERVISOR string,
  CODIGO_ARTICULO string,
  UNIDADES_VENDIDAS float,
  IMPORTE_VENTA float,
  MESA string,
  RUTA_ZONA string,
  TIPO_VENTA string,
  TIPO_DOCUMENTO string,
  NRO_DOCUMENTO string,
  INDICADOR_BONIFICACION string,
  CODIGO_BONIFICACION string,
  CODIGO_MOTIVO_DEVOLUCION string,
  DESCUENTO float,
  IMPORTE_COSTO float
)
ROW FORMAT DELIMITED 
  FIELDS TERMINATED BY '|' 
  LINES TERMINATED BY '\n'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.mapred.TextInputFormat' 
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-raw-752501623053-s3/T_VENTAS/'
TBLPROPERTIES (
  'skip.header.line.count'='0',
  'serialization.null.format'=''
);

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_stage.T_VENTAS (
  CODIGO_CLIENTE string,
  FECHA_VENTA string,
  CODIGO_VENDEDOR string,
  CODIGO_SUPERVISOR string,
  CODIGO_ARTICULO string,
  UNIDADES_VENDIDAS float,
  IMPORTE_VENTA float,
  MESA string,
  RUTA_ZONA string,
  TIPO_VENTA string,
  TIPO_DOCUMENTO string,
  NRO_DOCUMENTO string,
  INDICADOR_BONIFICACION string,
  CODIGO_BONIFICACION string,
  CODIGO_MOTIVO_DEVOLUCION string,
  DESCUENTO float,
  IMPORTE_COSTO float
)
PARTITIONED BY (
  PROCESS_MONTH string
)
ROW FORMAT SERDE 
  'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-stage-752501623053-s3/T_VENTAS/'
TBLPROPERTIES (
  'event_date_column'='FECHA_VENTA',
  'has_encrypted_data'='false',
  'parquet.compression'='GZIP',
  'skip.header.line.count'='1'
);

# T_CLIENTES

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_raw.T_CLIENTES(
  CODIGO_CLIENTE string,
  CODIGO_GIRO_NEGOCIO string,
  CODIGO_DISTRITO string,
  NRO_DOCUMENTO string,
  NOMBRE_CLIENTE string,
  DIRECCION string,
  COORDENADA_Y float,
  COORDENADA_X float,
  LIMITE_CREDITO float,
  DIA_VISITA string,
  FRECUENCIA_VISITA string,
  TIPO_DOCUMENTO string,
  CANAL string,
  RUTA_ZONA string
)
ROW FORMAT DELIMITED 
  FIELDS TERMINATED BY '|' 
  LINES TERMINATED BY '\n'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.mapred.TextInputFormat' 
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-raw-752501623053-s3/T_CLIENTES/'
TBLPROPERTIES (
  'skip.header.line.count'='0',
  'serialization.null.format'=''
);

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_stage.T_CLIENTES (
  CODIGO_CLIENTE string,
  CODIGO_GIRO_NEGOCIO string,
  CODIGO_DISTRITO string,
  NRO_DOCUMENTO string,
  NOMBRE_CLIENTE string,
  DIRECCION string,
  COORDENADA_Y float,
  COORDENADA_X float,
  LIMITE_CREDITO float,
  DIA_VISITA string,
  FRECUENCIA_VISITA string,
  TIPO_DOCUMENTO string,
  CANAL string,
  RUTA_ZONA string
)
ROW FORMAT SERDE 
  'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-stage-752501623053-s3/T_CLIENTES/'
TBLPROPERTIES (
  'has_encrypted_data'='false',
  'parquet.compression'='GZIP',
  'skip.header.line.count'='1'
);

# T_ARTICULOS

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_raw.T_ARTICULOS(
  CODIGO_ARTICULO string,
  DESCRIPCION string,
  UNIDAD_VENTA string,
  TIPO_ARTICULO string
)
ROW FORMAT DELIMITED 
  FIELDS TERMINATED BY '|' 
  LINES TERMINATED BY '\n'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.mapred.TextInputFormat' 
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-raw-752501623053-s3/T_ARTICULOS/'
TBLPROPERTIES (
  'skip.header.line.count'='0',
  'serialization.null.format'=''
);

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_stage.T_ARTICULOS(
  CODIGO_ARTICULO string,
  DESCRIPCION string,
  UNIDAD_VENTA string,
  TIPO_ARTICULO string
)
ROW FORMAT SERDE 
  'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-stage-752501623053-s3/T_ARTICULOS/'
TBLPROPERTIES (
  'has_encrypted_data'='false',
  'parquet.compression'='GZIP',
  'skip.header.line.count'='1'
);

# T_STOCK

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_raw.T_STOCK(
  CODIGO_ARTICULO string,
  FECHA_STOCK string,
  UNIDADES float,
  COSTO_TOTAL float
)
ROW FORMAT DELIMITED 
  FIELDS TERMINATED BY '|' 
  LINES TERMINATED BY '\n'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.mapred.TextInputFormat' 
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-raw-752501623053-s3/T_STOCK/'
TBLPROPERTIES (
  'skip.header.line.count'='0',
  'serialization.null.format'=''
);

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_stage.T_STOCK(
  CODIGO_ARTICULO string,
  FECHA_STOCK string,
  UNIDADES float,
  COSTO_TOTAL float
)
PARTITIONED BY (
  PROCESS_MONTH string
)
ROW FORMAT SERDE 
  'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-stage-752501623053-s3/T_STOCK/'
TBLPROPERTIES (
  'event_date_column'='FECHA_STOCK',
  'has_encrypted_data'='false',
  'parquet.compression'='GZIP',
  'skip.header.line.count'='1'
);

# T_VENDEDORES

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_raw.T_VENDEDORES(
  CODIGO_VENDEDOR string,
  NOMBRE_VENDEDOR string
)
ROW FORMAT DELIMITED 
  FIELDS TERMINATED BY '|' 
  LINES TERMINATED BY '\n'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.mapred.TextInputFormat' 
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-raw-752501623053-s3/T_VENDEDORES/'
TBLPROPERTIES (
  'skip.header.line.count'='0',
  'serialization.null.format'=''
);

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_stage.T_VENDEDORES(
  CODIGO_VENDEDOR string,
  NOMBRE_VENDEDOR string
)
ROW FORMAT SERDE 
  'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-stage-752501623053-s3/T_VENDEDORES/'
TBLPROPERTIES (
  'has_encrypted_data'='false',
  'parquet.compression'='GZIP',
  'skip.header.line.count'='1'
);

# T_DISTRITOS

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_raw.T_DISTRITOS(
  CODIGO_DISTRITO string,
  DESCRIPCION_PROVINCIA string,
  DESCRIPCION_DISTRITO string
)
ROW FORMAT DELIMITED 
  FIELDS TERMINATED BY '|' 
  LINES TERMINATED BY '\n'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.mapred.TextInputFormat' 
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-raw-752501623053-s3/T_DISTRITOS/'
TBLPROPERTIES (
  'skip.header.line.count'='0',
  'serialization.null.format'=''
);

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_stage.T_DISTRITOS(
  CODIGO_DISTRITO string,
  DESCRIPCION_PROVINCIA string,
  DESCRIPCION_DISTRITO string
)
ROW FORMAT SERDE 
  'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-stage-752501623053-s3/T_DISTRITOS/'
TBLPROPERTIES (
  'has_encrypted_data'='false',
  'parquet.compression'='GZIP',
  'skip.header.line.count'='1'
);

# T_DEVOLUCIONES

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_raw.T_DEVOLUCIONES(
  CODIGO_MOTIVO_DEVOLUCION string,
  DESCRIPCION_MOTIVO_DEVOLUCION string
)
ROW FORMAT DELIMITED 
  FIELDS TERMINATED BY '|' 
  LINES TERMINATED BY '\n'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.mapred.TextInputFormat' 
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-raw-752501623053-s3/T_DEVOLUCIONES/'
TBLPROPERTIES (
  'skip.header.line.count'='0',
  'serialization.null.format'=''
);

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_stage.T_DEVOLUCIONES(
  CODIGO_MOTIVO_DEVOLUCION string,
  DESCRIPCION_MOTIVO_DEVOLUCION string
)
ROW FORMAT SERDE 
  'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-stage-752501623053-s3/T_DEVOLUCIONES/'
TBLPROPERTIES (
  'has_encrypted_data'='false',
  'parquet.compression'='GZIP',
  'skip.header.line.count'='1'
);

# T_BONIFICACIONES

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_raw.T_BONIFICACIONES(
  CODIGO_BONIFICACION string,
  DESCRIPCION_BONIFICACION string,
  CODIGO_ARTICULO string,
  FACTOR_BONIFICACION int,
  FECHA_INICIO string,
  FECHA_FIN string
)
ROW FORMAT DELIMITED 
  FIELDS TERMINATED BY '|' 
  LINES TERMINATED BY '\n'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.mapred.TextInputFormat' 
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-raw-752501623053-s3/T_BONIFICACIONES/'
TBLPROPERTIES (
  'skip.header.line.count'='0',
  'serialization.null.format'=''
);

In [ ]:
CREATE EXTERNAL TABLE glue_datalake_stage.T_BONIFICACIONES(
  CODIGO_BONIFICACION string,
  DESCRIPCION_BONIFICACION string,
  CODIGO_ARTICULO string,
  FACTOR_BONIFICACION int,
  FECHA_INICIO string,
  FECHA_FIN string
)
ROW FORMAT SERDE 
  'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
OUTPUTFORMAT 
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
LOCATION
  's3://dl-dev-us-east-1-stage-752501623053-s3/T_BONIFICACIONES/'
TBLPROPERTIES (
  'has_encrypted_data'='false',
  'parquet.compression'='GZIP',
  'skip.header.line.count'='1'
);